*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: #cbccff;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 60px;
}
header {
  display: flex;
  justify-content: center;
}
header > h1 {
  font-weight: bold;
  font-size: 2rem;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 8fr 1fr;
  width: 700px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}
#stats {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  font-size: 1.5rem;
  gap: 10px;
  justify-items: center;
}
#nameX {
  justify-self: end;
}
#nameY {
  justify-self: end;
}
#scoreX {
  justify-self: start;
}
#scoreY {
  justify-self: start;
}
#gameboard {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;

  height: 420px;
  width: 420px;
}
#container {
  display: flex;
}
#gameButtons {
  display: grid;
  width: 40%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 15px;
}
.styling {
  width: 100px;
  height: 40px;
}
#player {
  grid-column: 1 / 3;
}
#ai {
  grid-column: 3 / 5;
}
#X {
}
#O {
}
#player-X {
}
#player-O {
}
#restart {
  grid-column: 3 / 5;
}
.cells {
  height: 100%;
  width: 100%;
  border: 1px solid #5b63b7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 5rem;
}
.canceled {
  pointer-events: none;
}
#start {
  grid-column: 2 / 3;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hiding {
  animation: fadeIn 2s ease-out;
}
.fade-out {
  animation: fadeOut 2s ease-out;
}
.text-fade {
  animation: fadeIn 1s ease-in;
}
#black {
  width: 420px;
  height: 420px;
  background-color: black;
  position: absolute;
}
.remove1 {
  visibility: hidden;
}
.remove2 {
  visibility: hidden;
}
.remove {
  visibility: hidden;
}
.add {
  visibility: visible;
}
